@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body{
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  font-family: 'Azonix';
}

.active {
  color: white;
}

.dark{
  background-color: hsl(228, 5%, 15%);;
}
.deactivate {
  color: #858282;
}

.bg{
  backdrop-filter: blur(20px);
}

.circle {
  box-shadow: 1px 1px 15px rgb(34 197 94);
  animation: glow 4s infinite;
}

.bg-vscode:hover{
  background: rgba(40, 37, 83, 0.3);
}

@keyframes glow {
  0% {
    opacity: 0;
    
  }
  50% {
    opacity: 1;
 
  }
  100% {
    opacity: 0;
  }
}

.live-icon {
  display: inline-block;
  position: relative;
  top: calc(50% - 5px);
  background-color: red;
  width: 10px;
  margin-left: 10px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: 1;
}
.live-icon:before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: live 2s ease-in-out infinite;
          animation: live 2s ease-in-out infinite;
  z-index: -1;
}

@-webkit-keyframes live {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(3.5, 3.5);
    background-color: rgba(255, 0, 0, 0);
  }
}

@keyframes live {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(3.5, 3.5);
    background-color: rgba(255, 0, 0, 0);
  }
}

.cursor{
  animation: blink 2s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/*scroll bar*/

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #2c2a2a;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #020202;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.44, rgb(50, 50, 56)),color-stop(0.72, rgb(57, 58, 77)),color-stop(0.86, rgb(54, 51, 65)));
}

.hero{
  background-image: url("../public/image/hero2.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}

@font-face {
  font-family: Azonix;
  src: url('../public/fonts/Azonix.otf') format('truetype');
}
